--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchvision
torchaudio

transformers==4.46.3
tokenizers==0.20.3
accelerate
safetensors
einops
addict
easydict
pymupdf
Pillow
tqdm
python-dotenv
matplotlib
requests
huggingface_hub